*{
  margin: 0;
  padding: 0;
}

.meu-container{
  color: white;
  margin: 0 auto;
  padding: 0;
  border: 1px solid blue;
  width: 80%; /*largura*/
  min-height: 100vh; /*altura*/

  /*Flex*/
  display: flex;
  flex-direction: column;

}

header{
  background-color: rgb(233, 226, 106);

}

main{
  background-color: rgb(0,0,0);
  flex-grow: 1; /*especifica quanto o item crescera em relacao ao restante dos itens flexiveis dentro do mesmo containe*/
}

footer{
  background-color: rgb(228, 235, 252);
}
